@font-face {
   font-family: 'Telefonica-Regular';
   font-display: swap;
   src: url('file:///Users/rodrigo/Library/CloudStorage/OneDrive-Personal/Work/Clients/A%20to%20Z/OneTelefonia/WebUpdates%202022/20220730/fonts/Telefonica-Regular/font.ttf');
}
